.login-form {
    width: 50%;
}

.custom-btn {
    color: white;
    background-color: brown;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
}

@media only screen and (min-width: 1200px) {
    .login-form {
        width: 25%;
    }
}